# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/

# Logs
logs
*.log
pip-log.txt

# Local development files
/media/
.cache/
.pytest_cache
temp

# Mac
.DS_Store
._*

# Environment
.env
