{% extends "base.html" %}

{% block content %}

<div class="container" style="padding-bottom: 15px">
    <div class="col-md-8 offset-md-2" style="border-bottom:1px solid #d3d3d3">
        <!-- Display main About page -->
        <div class="text-center">
            <p><h2>{{ about_us.title }}</h2></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8 offset-md-2">
        <div class="row" style="border-bottom:1px solid #d3d3d3">
            <p><img class="img-fluid" src="{{ about_us.image.url }}"/></p>
            {{ about_us.body|safe|linebreaks }}
        </div>
        <!-- Display links to next three About pages -->
        <div class="row" style="padding-top:15px">
            {% for page in about_page %}
                <div class="col-md-4  text-center">
                    <h3><a href="/about/{{page.slug}}"> {{ page.title }}</a></h3>
                    <p>{{ page.sub_title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
