{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-bottom: 15px">
    <div class="col-md-8 offset-md-2" style="border-bottom:1px solid #d3d3d3">
        <div class="text-center">
            <p><h2>{{ page_detail.title }}</h2></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8 offset-md-2">
        <div class="row" style="border-bottom:1px solid #d3d3d3">
            <p><img class="img-fluid" src="{{ page_detail.image.url }}"/></p>
            {{ page_detail.body|safe|linebreaks }}
        </div>
        <div class="row" style="padding-top:15px">
            {% for page in other_page %}
                {% if page != page_detail %}
                    <div class="col-md-4  text-center">
                        <h3><a href="/about/{{page.id}}"> {{ page.title }}</a></h3>
                        <p>{{ page.sub_title }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
