/* Custom page CSS */

/* Custom navbar styling
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-newsfeed .navbar-brand {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-brand:focus, .navbar-newsfeed .navbar-brand:hover {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-nav .nav-link:focus, .navbar-newsfeed .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-nav .show > .nav-link,
.navbar-newsfeed .navbar-nav .active > .nav-link,
.navbar-newsfeed .navbar-nav .nav-link.show,
.navbar-newsfeed .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-toggler {
  color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-newsfeed .navbar-text {
  color: rgba(0, 0, 0, 1);
}

.navbar-newsfeed {
    border-bottom: 1px solid rgb(211, 211, 211);
}

/* Custom list styling
-------------------------------------------------- */
.list-newsfeed {
  padding-left: 0;
  list-style: none;
  color: #ffffff;
}

/* Custom row styling
-------------------------------------------------- */

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

/* Custom link styling
-------------------------------------------------- */
.newsfeed-link {
  font-weight: normal;
  padding-top: 10px;
  color: #ffffff;
  border-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  /* line-height: 60px; Vertically center the text there */
  background-color: #202020;
}
